header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.architacts-title{
    color:#131313 ;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav ul{
    display: flex;
}
nav li {
list-style: none;
margin-right: 30px ;
font-weight: 500px;
cursor: pointer;
font-size: 1rcm;
text-transform: capitalize;
}

nav li a {
  color:  #424242;
  cursor: pointer;  
  
}
nav  ul li :hover {
  
  
    background-color: aqua;
}
/* banner style */
.banner-content{
 max-width: 800px;
 text-align: center;

}

.banner-title{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  margin-top: 40px;
  margin-bottom: 30px;
}

.related-description{
   
    color:  #727272;
text-align: center;
font-family: work sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}
.praimay-btn{
    background-color:  #FF900E;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    color:#fff ;

}
.banner-image{
    width: 100%;

}


/* main style */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;

}
/* teams section style  */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    padding-left: 5px;
}
.teams-content{
    padding: 0px 70px;
    text-align: center;
 
}
.teams-title{
    /* color: var(--Dark-03, );
font-style: normal;
font-weight: 500;
line-height: normal; */
color:#727272 ;
font-family: Work Sans;
font-size: 45px;
font-style: normal;

}
.of-our{
 color: #131313 ;
}
.Features{
    color: #FF900E;
}

/* love-enjoy-section style */

 .features{
    display: flex;
    padding: 0 50px;
    margin-top: 130px;
    gap: 100px;
}
.features-title{
color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin : 0px;
}

.features-description{
color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.features-div{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    
}
.dekstop-title{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin:0px;
}
.features-img-content{
    width: 100%;
    
}

.features-img-content .features-img{
    width: 100%;
    height: 100%;
}

.ten-years-bage{
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    position: relative;
    right: 50px;
    bottom: 60px
}
.years-title {
        margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
}

/* some facts section style */
.some-facts-section{
    width: 100%;
}
.some-facts-conatent{
    padding: 0 20px;
}
.some-facts-title{
    color:#131313 ;
    font-family: sans-serif;
    font-size: 45px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 100px;
  
}
.some-facts-description{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px
}

.some-card-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
   
}
.some-card{
    background-color: #72727265;
    padding: 15px 15px;
   border-radius: 8px;
}
.icon-img{
  margin: 0;  
}
.some-title{
    margin: 0;
    margin-top: 10px;
    font-size: 35px;
}

.some-des{
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}
/* footer  related style */
footer{
    width: 100%;
    margin: 0 auto;
     padding: 50px 0;
}
.sponsers-content{
    width: 30%;
    text-align: center;
    margin: 40px auto;
}
.sponser-title{
    font-size: 45px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    list-style: normal;
}
.sponers-des{
    margin: 0;
    padding: 10px 0;
}
.link-card-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 50px;
}

.last-title{
    background-color: antiquewhite;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
}